*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1200px;
    height: 600px;
    background: white;
    margin: 0.5em auto;
    padding: 0.5em;
}
#header{
    height: 40px;
    background: white;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
    
}
#contenido{
    height: 500px;
    background: white;
    border-radius: 1em;
    margin: 1em;
}
#section, #table1{
    padding: 5%;
    height: 359px;
    width: 550px;
    background: white;
    border-radius: 1em;
    float: left;
    margin: 0.5em;
}
#table1{
    text-align: center;
}
#campos{
    padding: 20px;
    display: flex;
    display: -webkit-flex;
    text-align: center;
    display: -ms-flexbox;
}
#input-search{
    width: 470px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}
.class label{
    height: 400px;
    height: 50px;
}
#aside{
    height: 475px;
    width: 465px;
    background: white;
    border-radius: 1em;
    float: right;
    margin: 0.5em;
}
#table1{
    height: 100px;
    width: 458px;
    background: red;
}
.flexbox-container{
    padding: 20px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}
#documento{
    width: 150px;
    height: 25px;
}
#tipo{
    width: 150px;
    height: 25px;
}
legend{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
}
.flexbox-container >div{
    width: 50%;
    padding: 10px;
}

#serie{
    height: 25px;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
}
#n_venta{
    height: 25px;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 30px;
}
#fecha{
    height: 25px;
    width: 400px;
    margin-left: 30px;
    margin-bottom: 30px;
}
#proveedor{
    height: 25px;
    width: 400px;
    margin-left: 30px;
    margin-bottom: 30px;
}
#p{
    height: 25px;
    width: 100px;
    margin-left: 30px;
    margin-bottom: 30px;
}
#sub-total{
    height: 25px;
    width: 100px;
    margin-left: 30px;
    margin-bottom: 30px;
}
#button{
    padding: 16px;
    width: auto;
    background-color: cadetblue;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 100px;
    margin-left: 30px;
    font-size: 16px;
    margin: 30px;
}
#button1{
    padding: 16px;
    width: auto;
    background-color: red;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 100px;
    margin-right: 50px;
    font-size: 16px;
}